@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.shipping {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
    flex-wrap: wrap;
}

.chart {
    position: relative;
    width: 350px;
    height: 280px;
    object-fit: cover;
    margin: 40px 60px;
    
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.face.face1 {
    z-index: 1;
    background: #5e5e5e;
    transform-origin: bottom;
}

.chart:hover .face.face1 {
    background: #ff0057;
    transform: translateY(-100%) rotateX(90deg);
}

.face.face1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.face.face1 h1 {
    color: rgba(211, 211, 211, 0.308);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: 900;
    font-style: italic;
}

.face.face2 {
    background: #cccccc;
    padding: 20px;
    text-align: center;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.chart:hover .face.face2 {
    transform: translateY(0px) rotateY(0deg);
}

.face.face2 h1 {
    font-size: 2.5em;
}

.face.face2 p {
    margin: 10px;
    padding: 0 10px;
}

.face.face2 a {
    padding: 7px 14px;
    background: #ff0057;
    text-decoration: none;
    color: #cccccc;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    border: 4px solid rgba(0, 0, 0, 0.212);
    transition: .25s;
}

.face.face2 a:hover {
    color: #ff0057;
    background-color: transparent;
}

@media screen and (max-width:425px) {
    /* .face{
        padding-bottom: 0px;
    } */
    .face.face1 h1{
        font-size: 1.5em;
    } 
    
    .face.face1 p{
        font-size: 0.5em;
    } 
    
}