html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
  height: 90px;
}
.logo {
  margin-top: 40px;
  width: 160px;
  height: 160px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 55px;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput {
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 1.25em;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 10px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}
/* dropdown */
.dropbtn {
  background-color: #111;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.dropdown-content p {
  color: #111;
  text-align: center;
  text-shadow: 1px gray;
  font-family: "Times New Roman", Times, serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {background-color: #6e6e6e} */

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #369e62;
  transition: 0.5s ease-in-out;
}
#fbtn:hover {
  background-color: #369e62;
  transition: 0.5s ease-in-out;
}
/* End dropdown */

.slider {
  background: url(./stock/background.png);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border: 1px solid gray;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 70%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  border: 1px solid gray;
  background-color: black;
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #ffffff;
  border: 2px solid white;
  border-radius: 20%;
  box-shadow: 10px 10px 5px lightblue;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: cornsilk;
}
.Sale {
  color: red;
  animation-name: example;
  animation: example 2s infinite;
}
@media screen and (max-width: 970px) {
  .sliderItem:nth-child(1) .sliderPrice {
    top: 0;
    color: #111;
    font-weight: 500;
  }
}

@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: rgb(255, 0, 212);
  }
  100% {
    color: rgb(0, 128, 117);
  }
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: #eddcdc;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}
.heading {
  text-align: center;
}
.tex {
  color: crimson;
}
.productImg {
  width: 30%;
  padding: 10%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 50px;
  font-weight: 900;
}

.productDesc {
  font-style: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: darkgreen;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: bisque;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}
/*End swiper */

.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}
.galleryItem img:hover {
  width: 104%;
  height: fit-content;
  transition: 0.4s ease;
}

.galleryImg {
  width: 100%;
}

.newSeason {
  display: flex;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  color: white;
  border: 2px solid whitesmoke;
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.nsButton:hover {
  background-color: #369e62;
}
footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  /* cursor: pointer; */
  text-decoration: none;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons {
  display: flex;
}

.fbIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.fbIcon:hover {
  background-color: blue;
  border-radius: 30%;
}
.tweetIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.tweetIcon:hover {
  background-color: rgb(99, 191, 221);
  border-radius: 30%;
}
.insIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.insIcon:hover {
  background-color: rgb(235, 108, 129);
  border-radius: 30%;
}
.youtubeIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.youtubeIcon:hover {
  background-color: red;
  background-size: cover;
  border-radius: 30%;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}
/* Hamburger */
/* .hamburger{
  display: none;
} */
.closebtn {
  display: none;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
@media screen and (max-width:320px){

.logo {
  margin-left: -10px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.search {
  padding: 2px;
}
.sliderPrice {
  font-size: 10px;
}
.buyButton {
  margin-right: 10px;
  font-size: 10px;
}
}


@media screen and (max-width: 580px) {
  
  .navTop {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
  
    height: 55px;
  }
  .logo {
    margin-left: -10px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
  }
  .limitedOffer {
    font-size: 0.5em;
    border-bottom: 2px solid green;
    cursor: pointer;
    display: none;
  }
  .search {
    padding: 5px 7px;
  }
  .sliderPrice {
    font-size: 40px;
  }
  .buyButton {
    font-size: 20px;
  }
  .sliderImg {
    width: 70%;
  }
  .product {
    clip-path: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 60px;
  }

  .productImg {
    width: 50%;
  }

  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle {
    font-size: 10px;
    margin: 0;
  }
  .size {
    padding: 5px 15px;
    border: 1px solid black;
    margin-right: 15px;
    cursor: pointer;
    font-size: 15px;
  }
  
.productButton {
  float: right;
  padding: 8px 12px;
  margin-right: 15px;
}

}
/* End hamburger */
@media screen and (max-width: 970px) {
  .checkbtn {
    display: block;
  }
 
  .hamburger {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 130px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 99999;
  }
  .hamburger .dropbtn,
  .hamburger .dropdown {
    /* display: block; */

    margin: 50px 0;
    line-height: 30px;
  }
  #check:checked ~ .hamburger {
    left: 0;
  }
  nav {
    padding: 20px;
  }
  .navBottom {
    flex-wrap: wrap;
  }
  .slider {
    clip-path: none;
  }

  .sliderImg {
    width: 90%;
  }

  .sliderBg {
    width: 100%;
    height: 100%;
  }

  .sliderTitle {
    display: none;
  }

  .sliderPrice {
    top: unset;
    bottom: -50;
    left: 0;
    background-color: lightgrey;
  }

  .buyButton {
    right: 0;
    top: 50px;
  }

  .features {
    flex-direction: column;
  }

  .product {
    clip-path: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }

  .productImg {
    width: 40%;
  }

  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle {
    font-size: 30px;
    margin: 0;
  }

  .gallery {
    display: none;
  }

  .newSeason {
    flex-direction: column;
  }

  .nsItem:nth-child(2) {
    padding: 50px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .footerLeft {
    padding: 20px;
    width: 90%;
  }

  .footerRight {
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment {
    width: 90%;
    padding: 20px;
  }
}
